<footer role="contentinfo">
  <div>
    <span>This website's content is licensed open source under <a href="https://opensource.org/license/0bsd">0BSD</a>
      unless noted otherwise.</span>
  </div>

  <nav aria-label="Footer links">
    <a href="/docs/legal/terms">Terms of Service</a>
    <a href="/docs/legal/website-privacy">Privacy Policy</a>
    <a class="footer-link-github" href="https://github.com/orgs/quollix/repositories" aria-label="GitHub">
      <span>Source Code on GitHub</span>
      <img src="/icons/github.svg" alt="" width="20" height="20">
    </a>
  </nav>
</footer>
